@import url(http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic);
body {
	margin:0;
	
	font:11px Tahoma, Geneva, sans-serif;
	height:100%;
}
img {border-style:none;}
a {
	color:#969696;
}
a:hover {text-decoration:underline;}

*:focus {outline: none;}
/* wrapper */
#wrapper {
	display:block;
	width:100%;
	min-width:1000px;
	overflow:hidden;
}
/* header */
#header {
	width:100%;
	display:block;
	background:url(images/bg-header.jpg) 50% 100% no-repeat #a9a9a9;
	height:250px;
	overflow:hidden;
}
#header .nav {
	width:100%;
	background:url(images/bg-nav.png) left bottom repeat-x;
	height:80px;
}
#header .nav ul {
	list-style:none;
	margin:15px 0 0 0;
	padding:0;
	display:inline-block;
}
#header .nav li {
	float:left;
	margin:0 18px 0 18px;
}
#header .nav a {
	font:18px Tahoma, Geneva, sans-serif;
	color:#fff;
	float:left;
        text-decoration:none;
}
#header .head {
	display:inline-block;
	overflow:hidden;
	margin:0px;
	line-height: 100%;
}
#content,
.holder {
	display:block;
	overflow:hidden;
	margin:0 auto;
	width:1000px;
        position: relative;
        color:#333333;
        z-index: 150;
}
#content {
    background:url(images/fons.png) left top repeat-y;
    -webkit-text-shadow: white 0 0 4px, white 0 0 4px, white 0 0 4px;
    -moz-text-shadow: white 0 0 4px, white 0 0 4px, white 0 0 4px;
    -o-text-shadow: white 0 0 4px, white 0 0 4px, white 0 0 4px;
    text-shadow: white 0 0 4px, white 0 0 4px, white 0 0 4px;
    padding:20px  0px  30px 60px;
    text-align: justify;
}
#content p{
	display:block;
	margin:5px 80px 0px 0px;
	font:13px Tahoma, Geneva, sans-serif;
	color:#444444;
        line-height: 1.6;
}
#main {
	background:#fff;
	display:block;
	overflow:hidden;
	margin:0 auto;
	width:100%;
	padding: 0;
	min-height:675px;
	position:relative;
        z-index: 100;
}
#sidebar-1 .frame-img-1 {
	background:url(images/bg-frame-01.png) no-repeat;
	display:block;
	position:absolute;
	width:453px;
	height:340px;
	top:30px;
	overflow:hidden;
	padding:30px 0px 0px 0px;
}
.frame-img-1>div {
	position:absolute;
  -moz-transform: rotate(-10deg);  /* Firefox */
  -o-transform: rotate(-10deg);  /* Opera */
  -webkit-transform: rotate(-10deg);  /* Safari y Chrome */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1.0, M12=0.1501067811865475, M21=-0.1501067811865475, M22=1.0)"; 
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1.0, M12=0.1501067811865475, M21=-0.1501067811865475, M22=1.0); /* IE */
	-ms-transform:rotate(-10deg);
	-khtml-transform: rotate(-10deg);/* For Lunix*/
	left:-10px;
	border:1px #F5F5F5 solid;
	background:#FFFFFF;
	padding:6px 6px 6px 6px;
}
#sidebar-1 .frame-img-2 {
	background:url(images/bg-frame-02.png) no-repeat;
	display:block;
	position:absolute;
	width:453px;
	height:361px;
	top:430px;
	overflow:hidden;
	padding:63px 0px 0px 0px;
}
.frame-img-2>div {
	position:absolute;
  -moz-transform: rotate(16deg);  /* Firefox */
  -o-transform: rotate(16deg);  /* Opera */
  -webkit-transform: rotate(16deg);  /* Safari y Chrome */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1.0, M12=0.1501067811865475, M21=-0.1501067811865475, M22=1.0)"; 
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1.0, M12=-0.2701067811865475, M21=0.2701067811865475, M22=1.0); /* IE */
	-ms-transform:rotate(16deg);
	-khtml-transform: rotate(16deg);/* For Lunix*/
	left:-10px;
	border:1px #F5F5F5 solid;
	background:#FFFFFF;
	padding:6px 6px 6px 6px;
}
#sidebar-2 .frame-img-3 {
	background:url(images/bg-frame-03.png) right top no-repeat;
	display:block;
	position:absolute;
	width:353px;
	height:426px;
	top:195px;
	right:0;
	overflow:hidden;
	padding:50px 0px 0px 46px;
}
.frame-img-3>div {
	position:absolute;
  -moz-transform: rotate(11deg);  /* Firefox */
  -o-transform: rotate(11deg);  /* Opera */
  -webkit-transform: rotate(11deg);  /* Safari y Chrome */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1.0, M12=0.1501067811865475, M21=-0.1501067811865475, M22=1.0)"; 
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1.0, M12=-0.2001067811865475, M21=0.2001067811865475, M22=1.0); /* IE */
	-ms-transform:rotate(11deg);
	-khtml-transform: rotate(11deg);/* For Lunix*/
	left:80px;
	border:1px #F5F5F5 solid;
	background:#FFFFFF;
	padding:6px 6px 6px 6px;
}
#sidebar-1 .frame-img-4 {
	background:url(images/bg-frame-04.png) no-repeat;
	display:block;
	position:absolute;
	width:388px;
	height:342px;
	top:150px;
	left:0;
}
.frame-img-4 img {
	-webkit-transform: rotate(12deg); 
	-moz-transform: rotate(12deg); 
	-o-transform: rotate(12deg);
	-khtml-transform: rotate(12deg);
	-ms-transform:rotate(12deg);
	margin:55px 0 0 -6px;
}
.frame-img-5 {
	background:url(images/bg-frame-05.png) no-repeat;
	display:block;
	position:absolute;
	width:362px;
	height:310px;
	top:584px;
	right:0;
}
.frame-img-5 img {
	-webkit-transform: rotate(6deg); 
	-moz-transform: rotate(6deg); 
	-o-transform: rotate(6deg);
	-khtml-transform: rotate(6deg);
	-ms-transform:rotate(6deg);
	margin:41px 0 0 36px;
}
.frame-img-6.alt {top:25px;}
.frame-img-6 {
	background:url(images/bg-frame-06.png) no-repeat;
	display:block;
	position:absolute;
	width:387px;
	height:354px;
	top:130px;
	right:0;
	z-index:1;
}
.frame-img-6 img {
	-webkit-transform: rotate(15deg); 
	-moz-transform: rotate(15deg); 
	-o-transform: rotate(15deg);
	-khtml-transform: rotate(15deg);
	-ms-transform:rotate(15deg);
	margin:60px 0 0 40px;
}
#sidebar-2 .frame-img-7.alt {top:280px;}
#sidebar-2 .frame-img-7 {
	background:url(images/bg-frame-07.png) no-repeat;
	display:block;
	position:absolute;
	width:373px;
	height:331px;
	top:415px;
	right:0;
}
.frame-img-7 img {
	-webkit-transform: rotate(-11deg); 
	-moz-transform: rotate(-11deg); 
	-o-transform: rotate(-11deg);
	-khtml-transform: rotate(-11deg);
	-ms-transform:rotate(-11deg);
	margin:50px 0 0 40px;
}
.frame-img-8 {
	background:url(images/bg-frame-08.png) no-repeat;
	display:block;
	position:absolute;
	width:387px;
	height:354px;
	top:415px;
	left:0;
}
.frame-img-8 img {
	-webkit-transform: rotate(-14deg); 
	-moz-transform: rotate(-14deg); 
	-o-transform: rotate(-14deg);
	-khtml-transform: rotate(-14deg);
	-ms-transform:rotate(-14deg);
	margin:55px 0 0 -3px;
}
.frame-central {
	background:url(images/bg-central.png) top left no-repeat;
	display:block;
	position:relative;
	width:1031px;
	height:706px;
	padding: 0;
	margin:25px 0 0 0;
}
.frame-central .img{
	position:relative;
	display:block;
	padding:0px;
	width:1031px;
	height:690px;
	overflow:hidden;
}
.frame-central img {
	margin:55px 0px 0px 50px;
}
#sidebar-1.diff,
#sidebar-2.diff {display:block;}
#sidebar-1,
#sidebar-2 {
	position:absolute;
	top:0;
	display:block;
    z-index: 120;
}
#sidebar-1 {left:0;}
#sidebar-2 {right:0;}
#main .country {
	display:inline-block;
	margin: 0 0 0 11px;
	padding:0;
	list-style:none;
}
.country li {
	float:left;
	margin:0 30px 45px;
	width:424px;
}
.country a {
	width:424px;
	display:inline-block;
	text-align:center;
	text-decoration:none;
}
.country a .img {
	width:424px;
	height:254px;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	behavior: url(js/pie.htc);
	position:relative;
	overflow:hidden;
}
.country a .img div{
	background:url(images/radial_424x254.png) no-repeat;
	position:absolute;
	width:424px;
	height:254px;
	top:0px;
	left:0px;
	overflow:hidden;
}
.country span {
	font:18px Tahoma, Geneva, sans-serif;
	color:#000;
	margin:5px 0 0 0;
	display:block;
}
.services {
	list-style:none;
	margin:0;
	padding:30px 0px 0px 0px;
	display:inline-block;
}
.services li {
	width:930px;
	display:inline-block;
	margin:0 0 40px 0;
}
.services .wrap-img {
	width:424px;
	height:254px;
	float:left;
	margin:0 40px 0 0;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	behavior: url(js/pie.htc);
	position:relative;
	overflow:hidden;
}
.services .wrap-img div{
	position:absolute;
	top:0px;
	left:0px;
	width:425px;
	height:254px;
	background:url(images/radial_424x254.png) no-repeat;
}
.services .wrap-text {
	float:right;
	width:435px;
        padding-right: 20px;
}
.services .wrap-text h6 {
	font:bold 18px Tahoma, Geneva, sans-serif;
	color:#444444;
	margin:0;
	display:inline-block;
        text-decoration: none;
        cursor: auto;
}
.services .wrap-text p {
	display:block;
	margin:5px 0px 5px 0px;
	font:14px Tahoma, Geneva, sans-serif;
	color:#000;
}

.services .wrap-text a {
	
	padding-left: 10px;
        padding-top: 10px;
	font:14px Tahoma, Geneva, sans-serif;
	color: blueviolet;
        text-decoration-line: overline;
}

.description {
	display:block;
	margin:0 0 0 70px;
	font:14px Tahoma, Geneva, sans-serif;
	color:#000;
	width:860px;
}
.order {
	font:14px Tahoma, Geneva, sans-serif;
	color:#000;
	margin:40px 0 0 70px;
	display:inline-block;
	width:550px;
}
.order dd {
	float:left;
	margin:0 5px 15px 0;
}
.order dt {margin:0 0 15px 0;}
.order dt span {margin:0 0 0 10px;}
#footer {
    background:url(images/bg-footer.png) repeat-x;
    width:100%;
    display:block;
    overflow:hidden;
    height:55px;
    position: relative;
}
.counter{
    position:absolute;
    width:1px;
    height:0px;
    top:0px;
    right:0px;
    overflow:hidden;
}

.courses{
    bottom: 8px;
    color: #969696;
    font-size: 16px;
    position: absolute;
    left: 10px;
    z-index: 200;
    font-style:normal;
}

.mail_tel{
    bottom: 8px;
    color: #969696;
    font-size: 16px;
    position: absolute;
    right: 10px;
    z-index: 200;
    font-style:normal;
}
.mail_tel>a,.mail_tel>span{
padding: 0px 0px 0px 10px;
}
.mail_tel .skype_pnh_text_span{
    color: #969696;
}

#main.indexmain{
overflow:visible;
z-index:200;
}

#main.indexmain #content.indexcontent{
height:480px;
overflow:visible;
z-index:200;
}

#main.indexmain #content .indexpage{
    position: absolute;
    left:0px;
    top:-130px;
    z-index:200;
}

#content h3, #content h5, #content ul, #content ol, #content>strong, #content .maps{
	margin:5px 70px 5px 10px;
}
#content .maps{
position:relative;
}
#content .wrap-text p, #content .wrap-text h3, #content .wrap-text h5, #content .wrap-text h6, #content .wrap-text ul, #content .wrap-text ol{
	margin:5px 70px 5px 10px;
}
#content ul li, #content ol li{
	font:13px Tahoma, Geneva, sans-serif;
        line-height: 1.4;
}

.pretty, a.pretty:hover {
    font-family: 'Marck Script', cursive;
    font-size: 60pt;
    color: #ffffff;
    text-decoration: none;
    padding-left: 5px;
    padding-bottom: 10px;
}


.gallery{
	position:relative;
}
.gallery .data{
    position: absolute;
	top:0px;
	left:0px;
	width: 300px;
	overflow:hidden;
	
}
.gallery .data .expozition{
	width: 300px;
}
.gallery .data .expozition a{
	position:relative;
	overflow:hidden;
	display:block;
	padding:0px;
	margin:15px 10px 0px 0px;
	width: 300px;
	height:200px;
	float:left;
	-webkit-border-radius:22px;
	-moz-border-radius:22px;
	-khtml-border-radius:22px;
	border-radius: 22px 22px 22px 22px;
}
.gallery .data .expozition a div{
	background:url(../pics/radial_193x113.png) no-repeat;
        position: absolute;
	top:0px;
	left:0px;
	width: 300px;
	height:200px;
}

.baners{
        margin: -100px 0 0 -510px;
        position: absolute;
        left: 50%;
	width: 1040px;
	height:220px;
	overflow:hidden;
	position: relative;
        z-index:200;
}

.offer_row {
    display:inline-block;
    padding-bottom: 30px;
    
}

.offer_baners{
        width: 800px;
        margin: 0 0 0 -390px;
        position: relative;
        left: 50%;
        z-index:200;
        display: block;
        overflow: auto;
}

.baners a, .offer_baners a{
	position:relative;
	overflow:hidden;
	display:block;
	padding:0px;
	width: 325px;
	height:210px;
	float:left;
	-webkit-border-radius:22px;
	-moz-border-radius:22px;
	-khtml-border-radius:22px;
	border-radius: 22px 22px 22px 22px;
}

.baners a {
    margin:0px 20px 10px 0px;
}

.offer_baners a{
    margin:0px 50px 10px 0px;
}
    
.country-nav{
    padding-left: 10px;
    padding-bottom: 18px;
    font-size: 14px;
    font-family: cursive;
    color: #969696;
}

.country-nav a{
    color: blueviolet;
}

form.sform td {
  padding: 5px 5px 5px 0px;
}

form.sform {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 20px;
  font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
  font-size: 11px;
  color: #006600;
}

form.sform input[type="text"], form.sform input[type="password"] {
  width: 400px;
  height: 20px;
}

form.sform textarea {
  width: 400px; 
  height: 100px;
}

form.sform select.date {
 width: auto;
}

form.sform select {
  width: 406px;
}

form.cmsform td {
  padding: 5px 5px 5px 0px;
}

form.cmsform {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 20px;
  font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
  font-size: 11px;
  color: #006600;
}

form.cmsform input[type="text"], form.cmsform input[type="password"] {
  width: 800px;
  height: 20px;
}

form.cmsform textarea {
  width: 800px;  
}

form.cmsform select.date {
 width: auto;
}

form.cmsform select {
  width: 306px;
}

.error {
 color: #990033;
 padding-top: 3px;
 padding-bottom: 5px;
 padding-left: 10px;
 text-indent: 0px;
 background-color: #FFFF66;
 border-color: #FF6633;
 border-style: solid;
 border-width: 1px;
 font-weight: bold;
 font-size: 11px;
 font-family: tahoma, verdana, arial, sans-serif;
}

.button {
  display: block;
  color: #FFFFFF;
  background: url(images/button_r.png);
  background-position: top right;
  background-repeat: no-repeat;
  padding-right: 34px;
  float: left;
  outline: none;
  text-decoration: none;
  font-family: verdana, sans-serif, Lucida Sans, tahoma;
  font-size: 12px;
  text-shadow: #000000 1px 2px 2px;
  font-weight: bold;
  }

.button span {
  display: block;
  line-height: 10px;
  background: url(images/button_left.png);
  background-repeat: no-repeat;
  padding: 15px 0 15px 34px;
}

.button:hover {
  background-position: 100% -40px;
  cursor: pointer;
}

.button:hover span {
  background-position: 0% -40px;
  color: #999999;
}

h6 {
  font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
  font-size: 10px;
  color: #660099;
  text-align: center;
  font-weight: normal;
  text-decoration:underline;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
 }

 h6:hover {
  color: #FF3300;
 }
 
 .red {
 color: #990033;
 padding-left: 5px;
 padding-right: 5px;
 text-indent: 0px;
}

.success {
 color: #000060;
 padding-top: 4px;
 padding-bottom: 3px;
 padding-left: 10px;
 margin-left: 10px;
 text-indent: 0px;
 background-color: #00FF50;
 border-color: #008000;
 border-style: solid;
 border-width: 1px;
 font-size: 11px;
 font-weight: bold;
 font-family: tahoma, verdana, arial, sans-serif;
}

#left-panel {
   padding: 10px;
   background-color: #E6E6FA;
   float: left;
   width: 155px;
   min-height: 650px;
}

#left-panel ul{
    list-style:none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: verdana, arial, sans-serif;
}

#left-panel ul li{
    margin: 10px 0 0 0;
    padding-bottom: 5px;
    cursor: pointer;
    border-bottom: #969696 solid 1px;
}

#left-panel ul li:hover {
  color: #969696;
 }

#main-panel {
   padding-left: 120px;
   color: #777777;
   margin-left: 65px;
}

#main-panel td{
   padding-left: 20px;
}

.nodecorat {
 text-decoration: none;
 color: #000000;
 font-size: 14px;
}

table.visible
{
    border-collapse: collapse;
}

table.visible th,table.visible td
{
    border: 1px solid black;
}

h1 {
    font-size: 26px;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    color: #AAAAAA;
    font-weight: normal;
    text-shadow: 3px 3px 3px #CCCCCC;
}

#content h2{
	margin:5px 80px 5px 0px;
	color:#888888;
        padding-bottom: 5px;
        padding-top: 10px;
        font-size: 16px;
        font-family: Verdana,sans-serif;
        font-weight: normal;
}

td, th {
    padding: 4px;
}

.left {
    float: left;
    padding-right: 40px;
    padding-bottom: 20px;
}