Order Allow,Deny
Allow from all
Deny from 0.0.0.0

RewriteEngine On
RewriteRule !\.(gif|jpg|png|ico|js|css)$ index.php
RewriteRule /(img)/([-_0-9a-zA-Z]+)\.(png|js|css|gif|jpg|ico)$  $1/$2.$3  [L]
RewriteRule /(images)/([-_0-9a-zA-Z]+)\.(png|js|css|gif|jpg|ico)$  css/$1/$2.$3  [L]